$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.search-word-display {

  width:50%;
}

.dictioanry-display {
  width:50%;
}

.entry{
  font-weight: bold;
}
