$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.row {
  margin:0;
  padding:0;
  width:100%;
}

.search-word-display {
  width:50%;
}

.dictioanry-display {
  width:50%;
}

.entry{
  font-weight: bold;
}

.hidden {
  display: none;
}

.dictionary-row {
  height: 350px;
  overflow: scroll;
}

.dictionary-display{
  border: 1px solid black;
}
